<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- Сообщает Спрингу, классы какого пакета нужно сканировать в поиске бинов:  -->
    <context:component-scan base-package="net.kiranatos.core.s02xmlannotations" />
    <!-- <context:annotation-config/> How to tell Spring to use annotations for wiring beans? -->
    
    <!-- FILE with properties : -->
    <context:property-placeholder location="classpath:core/s02/languages.properties"/>    

</beans>


    